<!-- Profile picture and dropdown -->
<div class="show-tools">
  <% unless user_signed_in? || (params[:controller] == "devise/sessions" && params[:action] == "new") %>
  <div class="user-login">
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
  </div>
  <% end %>
  <% if params[:controller] == "devise/sessions" && params[:action] == "new" %>
  <div class="user-login">
    <%= link_to "Home", root_path %>
  </div>
  <% end %>
  <div class="user-tools hidden-tools">
    <% if user_signed_in? %>
    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, "data-toggle" => "dropdown" %>
    <div class="user-dropdown hidden-dropdown">
      <ul>
        <%= link_to "#" do %>
        <li>
          <i class="fa fa-user"></i>
        </li>
        <% end %>
        <%= link_to root_path do %>
        <li>
          <i class="fa fa-home"></i>
        </li>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <li>
          <i class="fa fa-sign-out"></i>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>